/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run cgpu/merge-bams-nf -profile test
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 12.h
  input_files_list = 'https://raw.githubusercontent.com/cgpu/merge-bams-nf/master/example-input/input_files_list.csv'
  tool = 'samtools'
}