docker.enabled = true

params {
    inputdir = false
    outdir   = "results"
    ref      = false
    skip_multiqc = false
}

process {
  withName: generate_md5 {
    container = "frolvlad/alpine-bash:latest"
    errorStrategy = 'ignore'
  }
  withName: validate_bam {
    container = "broadinstitute/gatk:4.1.3.0"
    errorStrategy = 'ignore'
  }
withName: samtools_flagstat {
    container = "nfcore/sarek:2.5.1"
    errorStrategy = 'ignore'
  }
withName: qualimap_bamqc {
    container = "nfcore/sarek:2.5.1"
    errorStrategy = 'ignore'
  }  
withName: inliner {
  container = "alfredc/inliner"
  errorStrategy = 'ignore'
  }
withName: multiqc {
    container = "nfcore/sarek:2.5.1"
    errorStrategy = 'ignore'
  }
}

