docker.enabled = true

params {
    inputdir = false
    outdir   = "results"
    ref      = false
}

process {
  withName: generate_md5 {
    container = "frolvlad/alpine-bash:latest"
    errorStrategy = 'ignore'
  }
  withName: validate_bam {
    container = "broadinstitute/gatk:latest"
    errorStrategy = 'ignore'
  }
withName: samtools_flagstat {
    container = "lifebitai/samtools:latest"
    errorStrategy = 'ignore'
  }
withName: qualimap_bamqc {
    container = "maxulysse/sarek:latest"
    errorStrategy = 'ignore'
  }  
withName: multiqc {
    container = "ewels/multiqc:v1.7"
    errorStrategy = 'ignore'
  }
}

